@use '../abstract/variables' as *;

// CSS for the Services Section. 
.services_section {
    padding: 96px 0;
    margin: 107px 0 114px 0;

    &--div {
        display: flex;
        gap: 82px;
        align-items: center;
    }
}

.services_content {
    padding-left: 96px;
    padding-right: 96px;

    & h2 {
        font-size: $font-size-48;
        line-height: 58px;
        margin-bottom: 16px;
    }

    &--heading {
        margin-bottom: 32px;
        font-weight: 700;
        letter-spacing: 2px;
        position: relative;

        &::before {
            z-index: 8;
            position: absolute;
            content: "";
            width: 72px;
            top: 50%;
            left: -96px;
            transform: translateY(-50%);
            height: 2px;
            background-color: black;

        }

        &::after {
            z-index: 8;
            position: absolute;
            background-repeat: no-repeat;
            content: "";
            width: 14px;
            height: 14px;
            background-image: url('../images/dot\ 1.png');
            background-size: contain;
            top: 50%;
            left: -24px;
            transform: translateY(-50%);
        }
    }
}

.services_div {
    margin-top: 32px;
    width: 90%;
    display: flex;
    gap: 24px;

    & h3 {
        font-size: $font-size-24;
    }
}