// Variables for font size.
$font-size-12: 12px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-28: 28px;
$font-size-32: 32px;
$font-size-36: 36px;
$font-size-40: 40px;
$font-size-48: 48px;
$font-size-56: 56px;
$font-size-64: 64px;
$font-size-72: 72px;
$font-size-80: 80px;
$font-size-84: 84px;
$font-roboto: 'Roboto';

// Variables for color.
$color_white: white;
$color_grey: var(--Secondary-text, #525560);
$color_cred: var(--foundation-primary-red-500, #B4252D);
$color_cgreen: var(--foundation-green-green-200, #96C3B5);
$color_cpink:  var(--foundation-primary-red-200, #DD9B9E);
$color_cyellow : var(--foundation-secondary-yellow-300, #E8BD66);
$color_corange: var(--foundation-orange-orange-300, #F5936F);
$color_cyellowbg: var(--foundation-secondary-yellow-50, #FCF5E8);
$color_cgreylight: var(--foundation-text-color-text-color-50, #E8E9EA);
$color_cgreydark: var(--foundation-text-color-text-color-100, #B9BABF);
$color_borange: var(--foundation-orange-orange-300, #F5936F);